/* PERSONALIZADOS PARA O JQUERY*/
#j_close{display: none;}
.none{display: none;}
/*Complementares pro bootstrap*/
.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/loading-bloco.gif') 50% 50% no-repeat white;
}
/***********************************
####### MODAL INSERT UPLOAD ########
***********************************/
.j_imageupload{     
  position: fixed;
  left: 0px;
  top: 0px;    
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 89;
  box-shadow: 0 0 3px 0 #000;
  background: rgba(0,0,0,0.5);
}

.j_imageupload_content{   
  margin: auto auto;
  padding: 1%;    
  max-width: 100%;
  background: #fff;
  width: 500px;
}

/***********************************
######### MODAL UNIVERSAL ##########
***********************************/
.j_fundoModal{     
  position: fixed;
  left: 0px;
  top: 0px;    
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 89;
  box-shadow: 0 0 3px 0 #000;
  background: rgba(0,0,0,0.5);
}

.j_conteudoModal{   
  margin: auto auto;
  padding: 1%;    
  max-width: 100%;
  background: #fff;
  width: 50%;
  max-width: 90%;
}

.sig-internal-gallery {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sig-internal-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sig-internal-gallery .mask {
  display: flex;
  justify-content: center;
  align-items: center;
  top: unset;
  width: 100%;
  height: 100%;
}

.sig-internal-gallery .mask .tools {
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.sig-internal-gallery .mask .tools button {
  margin: 0;
  width: 0;
  height: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  line-height: unset;
  align-items: center;
  font-size: 18px;
  margin: 0 10px;
  border: unset;
}

@media (max-width: 765px){
  .j_conteudoModal{
    width: 95%;
    max-width: 100%;
  } 
  .j_imageupload_content{   
    max-width: 100%;
    width: 95%;
  }
}